@charset "utf-8";


body {
    font-family: 'Roboto',Trebuchet MS,Arial,sans-serif;
}

.header {
    padding-top: 40px;
    background:linear-gradient(rgba(76,175,80,.2), rgba(76, 175, 80, .2)), url("image2.jpg");
    background-size: 100%;

    color: white;
    font-size: 100%;
    position: fixed;
    width:100%;
    box-shadow: 0px 2px 5px #888888;
    min-height: 64px;
    display: flex;
    align-items: center;
}


.header .container {
    position: relative;
}

.name {
    font-size: 400%;
    margin-right: 5vw;
}
.navi {
    position: absolute;
    bottom: 22px;
    left: 15;
    z-index: 999;
}

#info {
    color: white;
    font-size: 150%;
}

#shrinker {
    position: relative;
    height: 25vh;
}

#spacer {
    flex: 1;
}

#head{
    display: flex;
    align-items: center;

}

.header .container .nav{
    font-size:100%;
    position: absolute;
    bottom: 0;
}

.header a{
    color: white;
    margin-right: 30px;
}

.header a:hover{
    color: #536DFE;
    margin-right: 30px;
    text-decoration: none;
}

.header td{
    font-size: 18px;
}

.header .selected {
    border-color: #FFEB3B;
    border-bottom-width: 2px;
}


h1 {
    font-size: 300%;
}

table {
    color: white;
}

#main {
    padding-top: 10px;
    background-color: white;
    min-height: 100vh;
}
